@using Microsoft.AspNetCore.Components.Web
@using System.Security.Claims
@namespace BlazorServerApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @{
        var currentPath = Context.Request.Path.Value.ToLower();
    }
    @if (User.Identity.IsAuthenticated)
    {
        var userId = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value;

        <a href="Identity/Account/Manage">Hello, @User.Identity.Name!</a>
        <form method="post" asp-page="/Logout">
            <button type="submit">Logout</button>
        </form>
        @RenderBody()
    }
    else if(currentPath == "/login" || currentPath == "/signup" || currentPath =="/standalone")
    {
        @RenderBody()
    }
    else{
        IgnoreBody();
        <div class="container" id="landing-page">
            <div class="container" id="top-nav-bar-container">
                <div class="landing-login-button">
                    <a href="Login">Log In</a>
                </div>
            </div>
            <div class="container" id="header-container">
                <h1>Signing up allows you to save the projects you want to compile online</h1>
            </div>
            <div class="container" id="sign-up-yes-no-button-container">
                <div class="landing-signup-button">
                    <a href="Signup">Sign up</a>
                </div>
                <div class="landing-proceed-without-signup-button">
                    <a href="Standalone">Use the compiler without signing up</a>
                </div>
            </div>
        </div>
    }
    
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_content/BlazorMonaco/jsInterop.js"></script>
    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/loader.js"></script>
    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.js"></script>

    <script src="_framework/blazor.server.js"></script>

    <script>
        window.registerClickOutside = function (dotNetHelper) {
            document.addEventListener('click', function onClickOutside(event) {
                dotNetHelper.invokeMethodAsync('OnClickOutside', event.target.id);
            });
        };
    </script>
</body>
</html>
