@page "/"
@using BlazorServerApp.Services
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject AuthenticationStateProvider authenticationStateProvider
@inject ProjectService projectService
@inject UserFileService userFileService
@inject NavigationManager navigationManager

<PageTitle>Index</PageTitle>

<div class="landing-container">
	<div class="top-navbar">
		<div class="home">

		</div>

		<div class="profile">

		</div>
	</div>
	<div class="create-new-env-container">
		<button class="create-new-env" @onclick="OpenModal">
			Create a new environment
		</button>
	</div>
	<div class="recent-envs-container">
		<h2>Recent environments</h2>
		<div class="list-of-recent-envs">

		</div>
		<button class="see-all-envs">
			See all environments
		</button>
	</div>


	@if (isModalVisible)
	{
		<CreateProjectModal @bind-Visible="isModalVisible" ProjectCreated="HandleProjectCreated" />
	}
</div>

@code {
	private bool isModalVisible = false;
	private void OpenModal()
	{
		isModalVisible = true;
	}
	private async Task HandleProjectCreated(CreateProjectModal.ProjectCreatedEventArgs args)
	{
		Console.WriteLine("HandleProjectCreated called");
		try
		{
			var authState = await authenticationStateProvider.GetAuthenticationStateAsync();

			var user = authState.User;

			if (user.Identity == null || !user.Identity.IsAuthenticated)
			{
				Console.WriteLine("User is not authenticated");
				return;
			}

			string userId = user.FindFirstValue(ClaimTypes.NameIdentifier);

			var projectId = await projectService.CreateProjectInDatabaseAsync(userId, args.FileName);

			// Creates the default project categories
			await userFileService.CreateDefaultProjectDirectoriesAsync(userId, projectId);

			await userFileService.CreateFile(userId, projectId, args.FileName, args.Extension);


			navigationManager.NavigateTo($"/Project/{projectId}");
		}
		catch (Exception ex)
		{
			Console.WriteLine($"Error creating project: {ex.Message}");
		}
	}
	/*private async Task<int> CreateProjectInDatabaseAsync(string userId, string projectName)
	{
		
	}*/
}
