@page "/"
<div class="container">
	<div class="authentication container">
		<NavLink class="signup link-button" href="/Signup">Sign up</NavLink>
		<NavLink class="login link-button" href="/Login">Log in</NavLink>
	</div>
	<div class="two-column container">
		<div class="left-column container">
			<h1>Code on any device. <br>No installations, no hassle.</h1>
			<p>Skip installations and start coding in seconds. Our online compiler seamlessly works on any device.</p>
			<NavLink class="get-started link-button" href="/Signup">Get started</NavLink>
		</div>
		<div class="right-column container">
			<img src="/images/laptop_on_desk.jpg"/>
		</div>
	</div>
</div>