@page
@model LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
</head>
<body>
    <div class="container" id="login-page">
        <form method="post" class="login" id="login-form">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All"></div>
            <div class="login-field">
                <label>EMAIL</label>
                <input asp-for="Input.Email" />
                <span asp-validation-for="Input.Email"></span>
            </div>
            <div class="login-field">
                <label>PASSWORD</label>
                <input asp-for="Input.Password" type="password" />
                <span asp-validation-for="Input.Password"></span>
            </div>
            <button class="login-button" type="submit">Log In</button>
            <div class="signup">Don't yet have an account? <a href="/Signup">Sign up</a></div>
        </form>
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="error">@Model.ErrorMessage</div>
        }
    </div>
</body>
</html>
