@page "/login"
@using Microsoft.AspNetCore.Identity
@using System.ComponentModel.DataAnnotations
@inject SignInManager<IdentityUser> SignInManager
@inject NavigationManager NavigationManager

<EditForm Model="loginModel" OnValidSubmit="HandleValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<h3>Log in to your account</h3>
	<div class="email">
		<label for="login-email-input-field">EMAIL</label>
		<InputText @bind-Value="loginModel.Email" required autocomplete="email" id="login-email-input-field" name="email" autocorrect="off" />
	</div>
	<div class="password">
		<label for="login-email-input-field">PASSWORD</label>
		<InputText @bind-Value="loginModel.Password" type="password" required autocapitalize="off" id="login-password-input-field" />
	</div>
	<div class="login-button">
		<button type="submit">Log In</button>
	</div>
	<div class="forgot-password">
		<a href="/forgot">Forgot password?</a>
	</div>
	<div class="signup">
		 Don't have an account? <a href="/signup">Sign up</a>
	</div>
</EditForm>
@code {
	private LoginModel loginModel = new LoginModel();

	private async Task HandleValidSubmit()
	{
		var user = new IdentityUser { UserName = loginModel.Email, Email = loginModel.Email };
		var result = await SignInManager.PasswordSignInAsync(loginModel.Email, loginModel.Password, isPersistent: false, lockoutOnFailure: false);
		if (result.Succeeded)
		{
			var signInUrl = $"/SignIn?userId={user.Id}";
            NavigationManager.NavigateTo(signInUrl, forceLoad: true);
		}
		else
		{
			validationMessages.Add("Invalid login attempt.");
		}
	}
	private List<string> validationMessages = new List<string>();

	public class LoginModel
	{
		[Required]
		[EmailAddress]
		public string Email { get; set; }

		[Required]
		[DataType(DataType.Password)]
		public string Password { get; set; }
	}
}
