@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigationManager
@inject ProjectDbService projectDbService
@inject ProjectManagementService projectManagementService
@inject IJSRuntime JSRuntime
@implements IDisposable
@using System.Security.Claims
@using BlazorServerApp.Models
@using BlazorServerApp.Services
@using Microsoft.JSInterop

<div @onclick:stopPropagation="false" @onclick="CloseAllMenus">
	<div class="container projects" >
		<ul>
			@foreach(var project in projects)
			{	
				<li class="container project-list-entry">
					<a href="/project/@project.ProjectID.ToString()" class="project-link">
						<div class="project-content">
							@switch(project.Language)
							{
								case "Java":
									<img class="icon" src="images/java_logo.svg" alt="Java programming language"/>
									break;
								case "C":
									<img class="icon" src="images/c_logo.svg" alt="C programming language"/>
									break;
								case "C++":
									<img class="icon" src="images/cpp_logo.svg" alt="C++ programming language"/>
									break;
								default:
									<p>Something went wrong while trying to display the language</p>
									break;
							}
							<div class="project-info">
								<div class="project-name">@project.Name</div>
								<div class="project-creation-date">@project.CreationDate.ToLocalTime()</div>
							</div>
						</div>
					</a>
					<div class="info-button">
						<button @onclick:stopPropagation="true" @onclick="() => ToggleMenu(project.ProjectID)">
							<div>
								<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="verticalTripleDotSinglePathTitle" role="img">
									<title id="verticalTripleDotSinglePathTitle-@project.ProjectID">Vertical Triple Dot</title><path d="M12 6 m-2,0 a2,2 0 1,0 4,0 a2,2 0 1,0 -4,0 M12 12 m-2,0 a2,2 0 1,0 4,0 a2,2 0 1,0 -4,0 M12 18 m-2,0 a2,2 0 1,0 4,0 a2,2 0 1,0 -4,0" fill="white"/>
								</svg>
							</div>
						</button>
						@if (visibleMenus.Contains(project.ProjectID))
						{
							<div class="dropdown-menu">
								<button @onclick="() => OpenEditModal(project)">Edit</button>
								<button @onclick="() => OpenDeleteModal(project)">Delete</button>
							</div>
						}
					</div>
				</li>
			}
		</ul>
	</div>
		@if (isCreateModalVisible)
		{
			<div class="modal-backdrop">
				<div class="modal">
					<CreateProjectModal @bind-Visible="isCreateModalVisible" ProjectCreated="OnProjectCreated" />
				</div>
			</div>
		}
		@if (isEditModalVisible)
		{
			<div class="modal-backdrop">
				<div class="modal">
					<UpdateProjectNameModal Visible="isEditModalVisible" VisibleChanged="@(value => isEditModalVisible = value)" Project="selectedProject" OnProjectNameUpdated="OnProjectNameUpdated" />
				</div>
			</div>
		}
		@if (isDeleteModalVisible)
		{
			<div class="modal-backdrop">
				<div class="modal">
					<ConfirmProjectDeletionModal Visible="isDeleteModalVisible" VisibleChanged="@(value => isDeleteModalVisible = value)" Project="selectedProject" OnProjectDeleted="OnProjectDeleted" />
				</div>
			</div>
		}

	
</div>
@code 
{

	private List<Project> projects = new List<Project>();
	private HashSet<int> visibleMenus = new HashSet<int>();

	private bool isEditModalVisible = false;
	private bool isDeleteModalVisible = false;
	private bool isCreateModalVisible = false;

	private DotNetObjectReference<ProjectList> dotNetRef;
	private Project selectedProject;


	[CascadingParameter]
	private Task<AuthenticationState> AuthenticationStateTask { get; set; }

	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthenticationStateTask;
		if (authState.User.Identity?.IsAuthenticated == true)
		{
		  projects = await projectManagementService.GetProjectsAsync();
		}
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		try
		{

			if (firstRender)
			{
				dotNetRef = DotNetObjectReference.Create(this);
				await JSRuntime.InvokeVoidAsync("registerClickOutside", dotNetRef);
			}
		}
		catch (Exception ex)
		{
			throw new Exception($"An exception occured: {ex}");
		}
	}
	public void Dispose()
	{
		try
		{
			dotNetRef?.Dispose();
		}
		catch (Exception ex)
		{
			throw new Exception($"An exception occured: {ex}");
		}
	}


	private void ToggleMenu(int projectId)
	{
		Console.WriteLine($"ToggleMenu was called with the params projectId: {projectId}");
		if (visibleMenus.Contains(projectId))
		{
			visibleMenus.Remove(projectId);
		}
		else
		{
			CloseAllMenus();
			visibleMenus.Add(projectId);
		}
	}
	[JSInvokable("OnClickOutside")]
	public void OnClickOutside(string elementId)
	{
		CloseAllMenus();
	}
	private void CloseAllMenus()
	{
		visibleMenus.Clear();
	}

	private void OpenCreateModal()
	{
		isCreateModalVisible = true;
	}
	private void OpenEditModal(Project project)
	{
		selectedProject = project;
		isEditModalVisible = true;
		visibleMenus.Clear();
	}

	private void OpenDeleteModal(Project project)
	{
		selectedProject = project;
		isDeleteModalVisible = true;
		visibleMenus.Clear();
	}

	private async Task OnProjectCreated(Models.ProjectCreatedEventArgs args)
	{
		try
		{
			int projectId = await projectManagementService.CreateProjectAsync(args);
			if (projectId >= 0)
			{
				navigationManager.NavigateTo($"/project/{projectId}");
			}
			else if (projectId == -1)
			{
				navigationManager.NavigateTo("/login");
			}
			else
			{
				Console.WriteLine("Error creating project");
			}
		}
		catch (Exception ex)
		{
			Console.WriteLine($"Error creating project: {ex.Message}");
		}
		finally
		{
			isCreateModalVisible = false;
		}
	}
	private async Task OnProjectNameUpdated(Project updatedProject)
	{

		var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
		var user = authState.User;

		var userId = user.FindFirstValue(ClaimTypes.NameIdentifier);

		try
		{
			await projectDbService.UpdateProjectNameInDatabaseAsync(userId, updatedProject.ProjectID, updatedProject.Name);
		}

		catch (Exception ex)
		{
			throw new KeyNotFoundException($"An exception occured while updating project name in the database: {ex}");
		}
		try
		{
			projects = await projectDbService.GetProjectsByUserIdAsync(userId) ?? new List<Project>();
		}
		catch(Exception ex)
		{
			throw new Exception($"An exception occured while updating project list {ex}");
		}
	}
	private async Task OnProjectDeleted(int projectId)
	{
		try
		{
			await projectManagementService.DeleteProjectAsync(projectId);
		} 
		catch (Exception ex)
		{
			throw new KeyNotFoundException($"An exception occured while deleting a project {ex}");
		}
		//Refresh the project list after deleting the project
		try
		{
			var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
			var user = authState.User;
			var userId = user.FindFirstValue(ClaimTypes.NameIdentifier);
			projects = await projectDbService.GetProjectsByUserIdAsync(userId) ?? new List<Project>();
		}
		catch (Exception ex)
		{
			throw new Exception($"An exception occured while trying to update the project list: {ex}");
		}
	}
}
