@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: #122838;
    min-height: 100vh;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.modal-buttons {
    margin-top: 20px;
}

.modal-buttons button {
    margin-right: 10px;
}

#login-form, #registration-form{
    background-color: #FCFCFC;
    max-width: 432px;
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 150px;
    flex: 1;
}
.login-field, .registration-field {
    display:flex;
    flex-direction: column;
    position:relative;
}
    
.login-field label, .registration-field label {
    position: absolute;
    top: 8px;
    left: 16px;
    z-index:2;
    color:#3F3E4A;
    font-size:10px;
    font-weight:600;
}
.login-field input, .registration-field input {
    max-width: 100%;
    height: 24px;
    padding-left: 16px;
    padding-right: 48px;
    padding-top: 26px;
    padding-bottom: 8px;
    margin-bottom: 25px;
    background-color: #D9D9D9;
    border-style: solid;
    border-radius: 5px;
    z-index:0;
}
.login-button, .register-button {
    height: 67px;
    width: 100%;
    background-color: #007ACC;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 600;
    border:hidden;
    border-radius: 5px;
    margin-bottom: 15px;
}
    .login-button:hover, .register-button:hover {
        background-color: #025b96;
        cursor: pointer;
    }
#login-page, #registration-page{
    display:flex;
    justify-content:center;
    min-height:100vh;
}
.signup, .login {
    font-weight:600;
    z-index:2;
}
#landing-page {
    min-height: 100vh;
    display:flex;
    flex-direction:column;
}
#top-nav-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px;
    margin-bottom:50px;
}
.landing-login-button {
    border-radius: 10px;
    background-color: #1C3140;
    display: inline-block;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    
}
    .landing-login-button:hover {
        background-color: #354855;
        cursor:pointer;
    }
    .landing-login-button a {
        color: white;
        font-weight: 600;
        font-size: 32px;
        text-decoration: none;
        width: 100%;
        text-align: center;
    }
#sign-up-yes-no-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px;
    margin-bottom: 50px;
}

.landing-signup-button {
    border-radius: 10px;
    background-color: #007ACC;
    display: inline-block;
    flex: 1;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    margin-right: 40px;
    margin-left: 10%;
}

    .landing-signup-button:hover {
        background-color: #003A61;
        cursor: pointer;
    }

    .landing-signup-button a {
        color: white;
        font-weight: 600;
        font-size: 32px;
        text-decoration: none;
        width: 100%;
        text-align: center;
    }
.landing-proceed-without-signup-button {
    border-radius: 10px;
    background-color: #D9D9D9;
    display: inline-block;
    flex: 3;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    margin-right: 10%;
}

    .landing-proceed-without-signup-button:hover {
        background-color: #7A7A7A;
        cursor: pointer;
    }
    .landing-proceed-without-signup-button:hover a{
        color: white;
    }

    .landing-proceed-without-signup-button a {
        color: black;
        font-weight: 600;
        font-size: 32px;
        text-decoration: none;
        width: 100%;
        text-align: center;
    }
.projects-header-container {
    display: flex;
}
.container.all-projects-title {
    display: flex;
    margin-left: 0px;
    align-items: center;    
}
.icon {
    height: 50px;
    width: 50px;
}
    .icon svg {
        color: white;
        height: 50px;
        width: 50px;
    }
    .icon img {
        height: 50px;
        width: 50px;
    }
.title {
    color: white;
    margin-left: 10px;
    font-size: 30px;
}
.title h1{
    margin-bottom: 0px;
    margin-top:0px;
}
.new-project {
    display:flex;
    justify-content: flex-end;
    margin-right:0px;
}
.new-project-button {
    display: flex;
    margin-left: 0px;
    align-items: center;
    background-color: #21a800;
    padding: 10px 20px 10px 10px;
    border-radius: 5px;
    border-style: none;
}
    .new-project-button:hover {
        background-color: #186b00;
        cursor: pointer;
    }
.container.projects ul {
    padding-left:0px;
}
.project-link {
    display: flex;
    flex-grow: 1;
    text-decoration: none;
    color: inherit;
    position: relative;
    z-index: 1;
    height:100%;
    padding-left:10px;
}
    .project-link:hover {
        background-color: #325975;
    }
.container.project-list-entry {
    position: relative;
    display: flex;
    margin: 0px 0px 15px 0px;
    padding-left:0px;
    background-color: #2a475c;
    align-items: center;
    border-radius: 5px;
    overflow: visible;
}
.project-content {
    display: flex;
    align-items: center;
    width: 100%;
}
.project-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items:flex-start;
    color:white;
}
    .project-info .project-name {
        padding-top:10px;
        padding-bottom:20px;
        font-weight:700;
        font-size: 20px;
    }
    .project-info .project-creation-date{
        padding-bottom: 10px;
    }
#header-container h1{
    text-align:center;
    color: white;
    font-size: 70px;
    font-weight: 700; 
}
.info-button {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 10px;
    
}
    .info-button button {
        background-color: transparent;
        border: none;
        padding: 0;
        border-radius: 3px;
    }
    .info-button button:hover {
        background-color: #325975;
        cursor:pointer;
    }
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    z-index: 1001;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    min-width: 100px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 5;
}

    .dropdown-menu button {
        width: 100%;
        padding: 8px 12px;
        border: none;
        background: none;
        text-align: left;
        cursor: pointer;
    }

        .dropdown-menu button:hover {
            background-color: #f1f1f1;
        }
body.modal-open {
    overflow: hidden;
}
.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
}
@media(max-width: 1536px) {
    .container {
        max-width: 1280px;
    }

    #header-container h1 {
        font-size: 60px;
    }
}
@media(max-width: 1280px) {
    .container {
        max-width: 1024px;
    }

    #header-container h1 {
        font-size: 48px;
    }
}
@media(max-width: 1024px) {
    .container {
        max-width: 768px;
    }

    #header-container h1 {
        font-size: 48px;
    }
    .landing-proceed-without-signup-button a {
        font-size: 26px;
    }
    .landing-signup-button a {
        font-size: 26px;
    }
}
@media(max-width: 768px) {
    .container {
        max-width: 640px;
    }

    #header-container h1 {
        font-size: 48px;
    }
    .landing-proceed-without-signup-button a {
        font-size: 20px;
    }

    .landing-signup-button a {
        font-size: 20px;
    }
}
@media(max-width: 640px) {
    .container {
        max-width: 480px;
    }

    #login-form {
        max-width: 100%;
    }

    #header-container h1 {
        font-size: 48px;
    }
     .landing-proceed-without-signup-button {
        flex:2;
    }
    .landing-proceed-without-signup-button a {
        font-size: 18px;
    }
    .landing-signup-button a {
        font-size: 18px;
    }
}
@media(max-width: 480px) {
    .container {
        max-width:100%;
    }
    #login-form {
        max-width: 100%;
    }
    #header-container h1 {
        font-size: 40px;
    }
    .landing-proceed-without-signup-button {
        flex: 2;
    }
    .landing-proceed-without-signup-button a {
        font-size: 18px;
    }
    

    .landing-signup-button a {
        font-size: 18px;
    }
}

